body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
form{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
label{
    display: block;
    margin: 10px 0;
}
button{

    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: block;
    margin: auto ;

}
button:hover{
    background-color: #444;
}
